*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 200px;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
form{
    height: 200px;
    width: 500px;
    background-color: rgba(5, 4, 4, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(219, 207, 207);
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}
p{
    color: white;
}
#profile{
    background-color: #141414;
}
#home{
    background-image: url("ressources/img/background-black.jpg");
}
.container{
    margin: 0 20%;
}
.row{
    display: flex;
}
.profile{
    margin: 0 10px;
}
.row img{
    width: 100%;
}
.row p{
    font-size: 2em;
    display: flex;
    justify-content: center;
    opacity: .6;
}